* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #000000;
    --secondary-color: #502F4C;
    --accent1-color: #70587C;
    --accent2-color: #C8B8DB;
    --accent3-color: #F9F4F5;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    background-color: var(--accent3-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2, h3 {
    font-family: 'Gelasio', serif;
    color: var(--accent1-color);
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    line-height: 1.6;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--accent1-color);
}

/* Header styles */
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px 0;
}

.logo img {
    max-height: 50px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
}

.nav ul li a:hover {
    color: var(--accent1-color);
}

/* Hero container styles */
.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero h1 {
    margin-top: 3rem;
    color: var(--accent3-color);
}

article {
    background-color: rgba(246, 245, 247, 0.6);
    padding: 1rem;
    display: flex;
    width: 80%;
    justify-content: center;
    border-radius: 10px;
}

article img {
    width: 250px;
    border-radius: 10px;
}

/* Adventures section styles */
.adventure {
    background-color: var(--accent2-color);
    padding: 20px;
    border-radius: 10px;
}

.adventure h2 {
    background-color: var(--accent2-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.adventures figure {
    margin: 0;
    text-align: center;
}

.adventures img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.adventures figcaption {
    margin-top: 5px;
    font-family: 'Gelasio', serif;
    color: var(--primary-color);
}

/* History section styles */
.history {
    margin: 40px 0;
    background-color: var(--accent2-color);
    padding: 15px;
    border-radius: 10px;
}

.history h2 {
    background-color: var(--accent2-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.history-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.history-content p {
    width: 45%;
}

.history-content img {
    width: 200px;
    height: auto;
    border-radius: 5px;
}

/* Contact section styles */
.contact {
    margin: 40px 0;
    background-color: var(--accent2-color);
    padding: 20px;
    border-radius: 10px;
}

.contact h2, .contact h3 {
    margin-bottom: 20px;
}

.company-info, .employee-profiles, .contact-form {
    margin-bottom: 20px;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 10px;
}

.employee-profiles {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.employee-profiles figure {
    text-align: center;
}

.employee-profiles img {
    width: 60px;
    height: 50px;
    border-radius: 60%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    resize: none;
    width: auto;
    padding: 10px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;

}

.contact-form input[type="radio"] {
    margin-right: 5px;
}

.contact-form input[type="checkbox"] {
    margin-right: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--accent3-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--accent1-color);
}

/* Footer styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    background-color: var(--accent2-color);
    margin-top: 20px;
    width: 100%;
}

footer p {
    margin: 0;
    color: var(--secondary-color);
    flex-grow: 0.8;
    text-align: center;
}

footer nav {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

footer nav a {
    display: flex;
    align-items: center;
}

footer nav a img {
    width: 24px;
    height: 24px;
    text-decoration: none;
}
